@import url('./main-layout.css');
@import url('./meal-card.css');
@import url('./day-component.css');
@import url('./attendance-dialog.css');
@import url('./report-dialog.css');

.board {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    .board {
        flex-direction: column;
    }
}
