@import url('./main-layout.css');

.day-component {
    border: dashed 2px green;
    border-radius: 5px;
    height: 400px;
}

.meal-component {
    width: 150px;
    height: 50px;
    background: #00FF00;
}